<!DOCTYPE html>
<html lang="en" class="dark font-roboto text-base md:text-lg lg:text-xl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/images/kite.svg" />

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="bg-zinc-100">
    {% include 'navbar.html' %}
    <main class="container h-screen overflow-x-hidden px-2">{{ content }}</main>
    <footer class="dark:bg-zinc-700 dark:text-white">
      <div class="container text-xs">
        © {{thisYear}} Pragmasoft. All rights reserved
      </div>
    </footer>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      intent="WELCOME"
      chat-title="Job-Interview"
      agent-id="b7c10929-be01-4176-a2c7-009b5f699bab"
      language-code="en"
    ></df-messenger>
  </body>
</html>
