@import './roboto.css';
@import './roboto-condensed.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  main a[href] {
    @apply text-emerald-400;
    @apply underline;
  }

  /*Use for highlighter effect. wrap text like so: This Highlight is in the Heading */
  .highlight {
    font-size: 2em;
    position: relative;
    color: white;
    z-index: 1;
  }

  .highlight:before {
    content: '';
    display: block;
    height: 110%;
    width: 110%;
    margin-left: -5%;
    position: absolute;
    transform: skew(-10deg);
    background: rgba(252, 130, 29, 1);
    z-index: -100;
  }
}
